.row {
  margin:0;
  padding:0 -15px;
}

body, h1 {
  font-family: "Avenir Next", Arial, sans-serif;
}

h1 {
  font-weight: 400;
  margin-left:-3px;
  margin-bottom: 0;
  font-size: 42px;
  }

h2 {
  margin-top:0;
  margin-bottom: 20px;
}  
  

.well h3 {
  margin-top:0;
  font-size: 14px;
  font-weight: 600;
}

.well p .label, .well p.icolegend {
  font-size:14px;
  font-weight: 400;
  white-space: nowrap;
}

.icolegend img {
  margin-right: 2px;
  width:20px;
  height:20px;
}

.well .label {
  display:inline-block;
  padding:5px 10px;
  margin-bottom: 3px;
  font-size: 14px;
  width: 120px;
  font-weight: 400;
}
  
.nav > li > a {
  padding:0;
  margin:10px 10px;
  margin-left:5px;
  display: block;
  /*white-space: pre; */
  /*  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; */
}  

.nav-tabs > li > a, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav-tabs > li > a:hover {
  border-color: transparent;
  background-color: transparent;
  text-align: left;
  text-decoration: none;
  color:white;
} 

.nav-tabs > li.active {
  border-bottom: 2px solid #111;
}

.nav-tabs > li > a img {
  position: absolute;
/*  padding:0 10px 10px 0*/; 
}

.nav-tabs > li > a span  {
  font-weight: 600;
  
}

.nav > li > a small {
  display:block;
   margin-left:2px;
/*  white-space: nowrap; */
}  

.nav > li > a small, .nav > li > a span {
  padding-left:30px;
}

.nav-tabs > li > a:hover {
  text-decoration: underline;
}

.nav-tabs > li {
  margin:10px 0 10px 20px;
    border-bottom:2px solid #f1f2f3;

}

.jumbotron {
  background-color: white;
  padding-top:0;
  padding-bottom: 0px;
  margin-bottom: 15px;
}

.jumbotron .col-lg-3 {
/*  width: auto; */
}

.alert {
  border:none;
}

.alert-info, .label-info {
  background-color: #00adff;
}

.alert-warning, .label-warning {
  background-color: #fff;
  border:2px solid #404d9e;
  color:#404d9e;
}
/*
.alert-success, .label-success {
  background-color: #00E84F;
}
*/

.btn-group a {
  margin-left:5px;
}

.nav-tabs {
  border:none;
}

#jira-version-issues {
 margin-top: 10px;
 padding:0 20px;
}

.panel-footer img:hover {
  cursor: pointer;
}


/*

*/

.loader {
  width: 50%;
  margin: auto;
  margin-bottom: 25px;
  background: rgb(145, 145, 145);
}

.loader img {
  margin: auto;
  display: block;
  width: 64px;
  height: 64px;
}

.issue-resolved .panel-title {
  text-decoration: none;
}

.issue-resolved .panel-title:after {
position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e013";
}

/* Override bootstrap css */

.loading {
  background: rgb(220, 220, 220);
}

#placeholder .list-group-item {
  border: none !important;
  margin-bottom: 0px;
  border-bottom: 1px solid #E8E8E8 !important;
  font-size: 125%;
  padding: Opx;
  display:inline-block;
  width: 100%; 
}


#placeholder .list-group {
  margin-bottom: 0px;
}

#placeholder .badge {
  background-color: white;
  margin-left: 30px;
  border: 1px solid #D6D6D6;
  color: #777777;
}

#placeholder .list-group-item .badge {

}


#issues .badge:hover {
  cursor: pointer;
}

.chosen-container-multi .chosen-choices li.search-field input[type=text] {
  height: 25px;
}

/* Nuxeo colors override - december 2014 */

.well {
  margin-top:21px;
}

.panel-info>.panel-heading {
  color: white;
  background-color: #00adff;
  border-color: #00adff;
}

.panel-success>.panel-heading {
  color: white;
  background-color: #3da664;
  border-color: #3da664;
}

.panel-body.list-group {
  padding:0;
}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
  background-color: rgba(181,227,247,0.5);
  border-color: #b5e3f7;
  color:#333;
}

#placeholder .panel-body .badge {
  font-size:70%;
}

.panel-default>.panel-heading {
  background-color: rgba(181,227,247,0.5);
  border-color: #b5e3f7;
}

.panel-default {
  border-color: #b5e3f7;
}

#issues .badge {
  background-color: #0075b0; 
  color: #fff;
  border: 1px solid #0075b0;
  letter-spacing: 0px;
  line-height: 18px;
  padding: 0 10px;
  vertical-align: top;
  margin-top: -2px;
  font-family: "Avenir Next", Arial, sans-serif;
  font-weight: 400;
}

.well h4 {
  margin-top:0;
  font-size: 15px;
}

#placeholder .list-group-item .badge.ng-scope {
  color: white;
  background-color: #00adff;
  border-color: #00adff;
}

.jumbotron > .col-md-9 {
  padding-left:0;
}

#permlinked .permlinked {
  border: dashed 2px rgb(160, 160, 160);
}

#issues {
  margin-top: 10px;
}

.panel-title > span {
  cursor: pointer;
}